<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" type="png" href="/image/head_logo.png">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/dycalendar.min.css">
    <title>Seychelles Bank (Pvt) Ltd.</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" data-toggle="modal" data-target="#changeUsernameModal">Change Username</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#changePasswordModal">Change Password</a>
                        </div>
                    </li>
                    <a class="btn btn-secondary my-2 my-sm-0" href="/logout" role="button">LOG OUT</a>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {{#if error}}
            <div class="alert alert-danger my-3" role="alert">
                {{error}}
            </div>
        {{/if}}
        {{#if success}}
            <div class="alert alert-success my-3" role="alert">
                {{success}}
            </div>
        {{/if}}
        <div class="wrapper_1">
            <div style="padding: 5%;">
                <h3 class="text-primary">Welcome to Seychelles Bank (Pvt) Ltd. !</h3>
                <hr class="my-4">
                <h4 style="font-style: italic;">Personal Details</h4>
                <h6>Name : {{ user.last_name}}</h6>
                <h6>Branch :  {{bm_branch}}</h6>
            </div>
            <div class="calendar-parent">
                <div class="calendar-container center">
                    <div id="dycalendar-today-with-skin-shadow"
                        class="dycalendar-container skin-blue round-edge shadow-default"></div>
                </div>
            </div>
        </div>
        <div class="wrapper_2">
            <div>
                <h4>Transaction Report</h4>
                <form action="/BankManager/{{user.user_id}}/TransactionReport" method="POST">
                    <div class="mt-3">
                        <div class="form-group form-inline">
                            <label for="start_date" class="col-sm-4 col-form-label">Starting Date</label>
                            <input type="date" class="form-control" id="start_date" name="start_date" placeholder="Starting Date">
                        </div>
                        <div class="form-group form-inline">
                            <label for="end_date" class="col-sm-4 col-form-label">Ending Date</label>
                            <input type="date" class="form-control" id="end_date" name="end_date" placeholder="Ending Date">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-block btn-primary" value="Generate Report">
                </form>
            </div>
            <div>
                <h4>Late Loan Installments' Report</h4>
                <form action="/BankManager/{{user.user_id}}/LateLoanReport" method="GET">
                    <input type="submit" class="btn btn-block btn-primary mt-4" value="Generate Report">
                </form>
            </div>
            <div>
                <a href="/employee/register" type="button" class="btn btn-primary btn-lg btn-block mt-2">Create an
                    Employee Account</a>
                <a href="/BankManager/{{user.user_id}}/ApproveLoan" type="button" class="btn btn-primary btn-lg btn-block mt-2">Approve Loans</a>
            </div>
        </div>
    </main>

    <div class="modal fade" id="changeUsernameModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Username</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form action="/changeUsername/{{User.user_id}}" method="POST">
                    <div class="modal-body">
                        <div class="form-group form-inline">
                            <label for="currentUsername" class="col-sm-4 col-form-label" style="font-size: 15px;">Current Username</label>
                            <input type="text" id="currentUsername" name="currentUsername" class="form-control mx-sm-3"
                                   placeholder="Enter Current Username" required>
                        </div>
                        <div class="form-group form-inline">
                            <label for="newUsername" class="col-sm-4 col-form-label">New Username</label>
                            <input type="text" id="newUsername" name="newUsername" class="form-control mx-sm-3"
                                   aria-describedby="UsernameHelpInline" placeholder="Enter New Username" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form action="/changePassword/{{User.user_id}}" method="POST">
                    <div class="modal-body">
                        <fieldset disabled="disabled">
                            <div class="form-group form-inline mt-1">
                                <label for="disabledTextInput" class="mr-3 col-sm-2 col-form-label">Username</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder={{ user.username }}>
                            </div>
                        </fieldset>
                        <div class="form-group form-inline">
                            <label for="newPassword" class="col-sm-2 col-form-label">Password</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control mx-sm-3"
                                aria-describedby="passwordHelpInline" placeholder="Enter New Password" required>
                            <small id="passwordHelpBlock" class="text-muted">Your password must be 8-20 characters long,
                                contain letters and numbers, and must not contain spaces or emoji.</small>
                        </div>
                        <div class="form-group form-inline">
                            <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword"
                                class="form-control mx-sm-3" placeholder="Re-Enter New Password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <footer class="bottom">Seychells Bank (Pvt) Ltd. - Version 1.0.0 © 2020 | <a href="">Visit Us</a></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascript/dycalendar-jquery.min.js"></script>
     <script>
        dycalendar.draw({ target: '#dycalendar-today-with-skin-shadow', type: 'month', monthformat: "full", highlighttoday: true, prevnextbutton: "show" });
    </script>
</body>

</html>