<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" type="png" href="/image/head_logo.png">
    <link rel="stylesheet" href="/stylesheets/nav_main_footer.css">
    <title>Seychelles Bank (Pvt) Ltd.</title>
    <style>
        .reg_card {
            margin: 1.5% auto;
            max-width: 600px;
        }

        .reg_card_body {
            padding-left: 3%;
        }

        footer {
            text-align: center;
            margin-bottom: 1%;
        }

        @media (max-width: 720px) {
            .reg_card {
                margin: 1.5%;
            }
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Create Account | Organization</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <a class="btn btn-secondary my-2 my-sm-0" href="/logout" role="button">LOG OUT</a>
                </ul>
            </div>
        </nav>
    </header>
    {{#if error}}
        <div class="row alert alert-danger m-3" role="alert">
            {{error}}
        </div>
    {{/if}}
    {{#if success}}
        <div class="row alert alert-success m-3" role="alert">
            {{success}}
        </div>
    {{/if}}
    <main>
        <div class="card border-primary reg_card">
            <div class="card-header">
                <h4>Account Creation Form</h4>
            </div>
            <div class="card-body">
                <form action="/employee/{{user.user_id}}/addAccountOrganization" method="POST">
                    <div class="form-group row">
                        <label for="org_id" class="col-form-label col-sm-3 col-md-3 col-lg-2 col-lg-3">Registration Number</label>
                        <div class="col-lg-4 col-sm-4">
                            <input type="text" id="org_id" name="org_id" class="form-control" required value="{{org_id}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="my-2 col-sm-3 col-md-3 col-lg-2 col-lg-3" for="acc_type">Preference</label>
                        <div class="col-lg-5 col-sm-5">
                            <select class="custom-select" id="acc_type" name="acc_type" required>
                                <option selected>Select Account Type...</option>
                                <option value="savings" id="acc_type_savings">Savings</option>
                                <option value="current" id="acc_type_current">Current</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="savingsPlanDiv">
                        <label for='savings_plan' class='col-form-label col-sm-3 col-md-3 col-lg-2 col-lg-3'>Savings
                            Plan</label>
                        <div class="col-lg-6 col-sm-6">
                            <select class="custom-select" id="savings_plan" name="savings_plan" required>
                                <option value="default">Select Savings Plan...</option>
                                {{#each savings_plan}}
                                    <option value="{{this.acc_plan_id}}">{{this.name}}</option>
                                {{/each}}rs
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="init_amount" class="col-form-label col-sm-3 col-md-3 col-lg-2 col-lg-3">Initial
                            Amount</label>
                        <div class="input-group col-lg-6 col-sm-6 mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">SCR</span>
                            </div>
                            <input type="number" name="init_amount" id="init_amount" class="form-control"
                                aria-label="Amount (to the nearest dollar)" min="1" max="100000000" required name="init_amount" id="init_amount" value="{{init_amount}}">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="my-2 col-sm-3 col-md-3 col-lg-2 col-lg-3" for="branch">Branch</label>
                        <div class="col-lg-5 col-sm-5">
                            <select class="custom-select" id="branch" name="branch" required>
                                <option value="default">Select the Branch...</option>
                                {{#each branches}}
                                    <option value="{{this.branch_id}}">{{this.branch_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="agree_check" name="agree_check" required>
                            <label class="form-check-label" for="agree_check">Agree to Terms and Conditions</label>
                        </div>
                    </div>
                    <a href="." type="button" class="btn btn-secondary float-right">Close</a>
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                </form>
            </div>
        </div>
    </main>
    <footer class="fixed-bottom">Seychells Bank (Pvt) Ltd. - Version 1.0.0 © 2020 | <a href="">Visit Us</a></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascript/branch.js"></script>
    <script src="/javascript/acc_type.js"></script>
</body>

</html>