<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" type="png" href="/public/image/head_logo.png">
    <title>Seychelles Bank (Pvt) Ltd.</title>
    <link rel="stylesheet" href="/stylesheets/registration_form.css">
</head>

<body>
    <div class="card border-primary reg_card">
        <div class="card-header">
            <h4>Employee Registration Form</h4>
        </div>
        {{#if error}}
            <div class="row alert alert-danger" role="alert">
                {{error}}
            </div>
        {{/if}}
        <div class="card-body">
            <form action="/employee/register" method="POST">
                <div class="form-group row">
                    <label for="name" class="col-form-label ml-3">Name</label>
                    <div class="input-group col-lg col-sm">
                        <input type="text" id="first_name" name="first_name" placeholder="First Name"
                            class="form-control" required value="{{first_name}}">
                        <input type="text" id="last_name" name="last_name" placeholder="Last Name" class="form-control"
                            required value="{{first_name}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name_with_initials" class="col-form-label ml-3">Name with Initials</label>
                    <div class="col-lg-5 col-sm">
                        <input type="text" id="name_with_initials" name="name_with_initials" class="form-control"
                            required value="{{name_with_initials}}">
                    </div>
                    <label for="age" class="col-form-label ml-3">Age</label>
                    <div class="col-lg-1 col-sm-1">
                        <input type="number" id="age" name="age" class="form-control" required value="{{age}}">
                    </div>
                    <label for="dob" class="col-form-label ml-3">Date of Birth</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="date" id="dob" name="dob" class="form-control" required value="{{dob}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="perm_address" class="col-form-label ml-3">Permanent Address</label>
                    <label for="add_no" class="col-form-label col-sm-3 col-md-3 col-lg-3">Address</label>
                    <div class="col-lg col-sm input-group">
                        <input type="text" id="add_no" name="add_no" placeholder="No." class="form-control col-2" required value="{{add_no}}">
                        <input type="text" id="add_street" name="add_street" placeholder="Street" class="form-control" required value="{{add_street}}">
                        <input type="text" id="add_city" name="add_city" placeholder="City" class="form-control col-4" required value="{{add_city}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="zip_code" class="col-form-label ml-3">Zip Code</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="number" id="postal_code" name="postal_code" class="form-control" required value="{{postal_code}}">
                    </div>
                    <label for="nic" class="col-form-label ml-3">NIC Number</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="text" id="nic" name="nic" class="form-control" required value="{{nic}}" maxlength = "10">
                    </div>
                    <div>
                        <label for="inlineRadioOptions" class="col-form-label ml-3">Gender</label>
                        <div class="form-check form-check-inline ml-4">
                            <input class="form-check-input" type="radio" name="gender" id="gender"
                                value="male">
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input class="form-check-input" type="radio" name="gender" id="gender"
                                value="female">
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input class="form-check-input" type="radio" name="gender" id="gender"
                                value="other_gender">
                            <label class="form-check-label" for="other">Others</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="contact" class="col-form-label ml-3">Contact Number</label>
                    <div class="input-group col-lg-2 col-sm-2 mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="contact_code">(+248)</span>
                        </div>
                        <input type="tel" id="contact" name="contact" class="form-control" 
                            placeholder="0712345678" maxlength="10" required aria-describedby="contact_code" value="{{contact}}">
                    </div>
                    <label for="username" class="col-form-label ml-3">Username</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="text" id="username" name="username" class="form-control" required value="{{username}}" maxlength = "15">
                </div>
                <div class="form-group row">
                    <label for="email" class="col-form-label ml-3">Email</label>
                    <div class="col-lg-5 col-sm-5">
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                            required value="{{email}}">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <label class="my-2 ml-3" for="branch">Branch</label>
                    <div class="col-lg-2 col-sm-2">
                        <select class="custom-select" id="employee_level" name="employee_level" required>
                            <option value="employee">Employee</option>
                            <option value="manager">Bank Manager</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        <select class="custom-select" id="branch" name="branch" required>
                            <option value="default">Select the Branch...</option>
                            {{#each branches}}
                                <option value="{{this.branch_id}}">{{this.branch_name}}</option>
                            <!-- Populate the array "arr" in "branch.js" from the data in the database. -->
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="agree_check" name="agree_check" required>
                        <label class="form-check-label" for="agree_check">Agree to Terms and Conditions</label>
                    </div>
                </div>
                <a href="admin_dashboard.html" type="button" class="btn btn-secondary float-right">Close</a>
                <input type="submit" class="btn btn-primary" value="Save Changes">
                </div>
            </form>
        </div>
    </div>
    <footer class="bottom">Seychells Bank (Pvt) Ltd. - Version 1.0.0 © 2020 | <a href="">Visit Us</a></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>